.nav {
    background-color: black;
}

.ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.logoutForm {
    display: flex;
    height: 100%;
}

.navLink {
    display: inline-block;
    padding: .4em;
    color: white;
    text-decoration: none;
    border: none;
    background: none;
    font-size: large;
    height: 100%;
    &:hover {
        background-color: rgb(41, 41, 41);
    }
}
.alertccteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.notificationsCount_container {
    display: flex;
    background-color: red;
    border-radius: 100%;
    width: 1.3em;
    height: 1.3em;
    font-size: 1em;
    position: relative;
    margin-left: .1em;
    font-size: small;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.notificationsCount{

text-align: center;
vertical-align: middle;
}